@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.login-header{
    margin-top:25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    user-select: none;
    padding: 10px;
}
.login-header .modal-title{
    font-weight: bold;
    letter-spacing: 0.22em;
    font-size: 20px;
}
.login-header button{
    margin-left: 15%;
    margin-right: 5%;
}
.login-body{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    align-items:center;
    flex-direction: column;
    padding:30px;
}

.login-body .form-control{
    margin: 10px 0px 10px 0px;
    border-radius: 50px;
    text-align: center;
}


.login-body .form-group {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-body button{
    text-align: center;
    margin-top: 20px;
    width:150px;
    border-radius: 50px;
}
